%div{:class => "splash-container"}
  %div{:class => "splash"}
    %h1{:class => 'splash-head'} Go somewhere
    %ul
      %li
        %a{:class => "pure-button pure-button-primary", :href => "/mp1"} MP1
