!!!
%html
  %head
    %title Viz Lit
    %link(rel="stylesheet" href="/styles.css")
    %link(rel="stylesheet" href="/styles2.css")
    %link(rel="stylesheet" href="/styles3.css")
  %body
    %div{:class => "header"}
      %div{:class => "home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed"}
        %a{:class => "pure-menu-heading", :href => "http://www.github.com/j-rock"} Joseph >>= Rock
        %ul
          %li{:class => "pure-menu-selected"}
            %a{:href => "/"} Home
          %li{:class => "pure-menu"}
            %a{:href => "/mp1"} MP1
          %li{:class => "pure-menu"}
            %a{:href => "/mp2"} MP2
    %div
      =yield

    %div{:class => "content-wrapper"}
      %div{:class => "footer l-box is-center"} UIUC CS398 VizLit Work

    %script{:src => "http://code.jquery.com/jquery-1.10.1.js"}
    %script{:type => "text/javascript", :src => "/src/#{jsscript}/index.js"}
    %script{:type => "text/javascript"}
      main();




