%div{:class => "content"}
%div{:class => "container", :id => "content"}
  %div{:id => "main"}

%script{:src => "http://d3js.org/d3.v3.js", :charset => "utf-8"}
%script{:src => "http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore.js"}
%script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"}
