%div{:class => "splash-container"}
  %div{:class => "splash"}
    %h1{:class => 'splash-head'} Page not found.
    %p{:class => "splash-subhead"} Back to home?
    %p
      %a{:class => "pure-button pure-button-primary", :href => "/"} Go!
